.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.container{
  width: 100%;
  padding: 10px;
  min-width: 300px;
  background: light-dark(#ffffff,#212121);
  border-radius: 16px;
  margin: 20px;
}

.logo{
  height: 6em;
  padding: 1.5em;
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.header {
 text-align: center;
}
.todaylist{
  width: 100%;
 background-color: #212121;
}
